langchain
python-dotenv
streamlit
unstructured
tiktoken
faiss-cpu
libmagic
python-magic
python-magic-bin
OpenAI 
torch
accelerate
langchain_community
gtts

transformers
sentence_transformers
streamlit_chat
altair
huggingface-hub